* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #191d21;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input:focus,
button:focus {
  outline: none;
}

p {
  text-align: center;
}

.write {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 2px solid #191d21;
  border-radius: 0.1rem;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

button {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 0.1rem;
  margin-top: 20px;
  padding: 10px;
}

.mainBtn {
  background-color: #ffdf00;
}

.word {
  font-weight: 700;
  font-size: 30px;
}

.mainScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 400px;
}

.countContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.count {
  font-weight: 700;
}

.finishedScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 400px;
}

.wordContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final {
  border-bottom: 4px solid #ffdf00;
  padding-bottom: 5px;
  width: 190px;
}

.hidden {
  display: none;
}
